<h1>Todo list</h1>

<p>Todo</p>
<ul>
  <li *ngFor="let todo of todosNotCompleted$ | async">
    <input type="checkbox" (click)="completeTodo(todo.id)">
    <button (click)="remove(todo.id)">X</button>
    {{todo.title}}
  </li>
</ul>

<p>Done</p>
<ul>
  <li *ngFor="let todo of todosCompleted$ | async">
    <input type="checkbox" (click)="unCompleteTodo(todo.id)" checked>
    <button (click)="remove(todo.id)">X</button>
    {{todo.title}}
  </li>
</ul>

<br>
<form [formGroup]="form" (ngSubmit)="addTodo()">
  Add new todo <input formControlName="title"> <button type="submit">submit</button>
</form>